header {
  background: url('../images/profc4-tech-banner-02.png');
  width: 920px;
  height: 185px;
}
header h1 {
  font-size: 300%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: right;
/*  text-shadow: 5px 5px 7px #000000;*/
}

* {
  margin: 0px;
  padding: 0px;
}

body  {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: grey url("../images/achtergrond.jpg") repeat;
}
