
* {
  margin: 0px;
  padding: 0px;
}

body  {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: grey url("../images/achtergrond.jpg") repeat;
}
header {
  background: url('../images/profc4-tech-banner-02.png');
  width: 920px;
  height: 185px;
}
header h1 {
  font-size: 300%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  text-align: right;
/*  text-shadow: 5px 5px 7px #000000;*/
}


ul {
  background: green;
  padding: 10px;
}

ul li {
  background: #787878;
  padding: 5px;
  border: solid 2px white;
  display: inline-block;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: #C0C0C0;
}
section {
  padding: 5px;
  margin: 5px;
  border: double 4px black;
}

section article {
  border: 3px solid black;
  border-radius: 0px 20px 20px 20px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: white;
}
/*article h2 {

}

article p {

}*/
footer h4{
  color: black;
}
